html, body, #app {
  height: 100%
}

.chat-page {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.chat-page > header {
  padding: 8px 2px;
}

.chat-page > header > h2 {
  margin: 0;
}

.chat-page > section {
  flex: 1;

  display: flex;
  flex-direction: row;
}

.chat-page > section > main {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.chat-page > section > aside {
  width: 300px;

  padding: 8px;
  margin: 0 2px 2px 0;

  color: #fff;
  background-color: #212529;
}

.chat-page > section > aside > h3 {
  font-size: 14px;
  margin-bottom: 12px;
}

.chat-page > section > aside > ul {
  list-style: none;
  padding-left: 8px;
}

.chat-page > section > aside > ul > li {
  display: flex;
  align-items: center;

  font-size: 12px;
}

.chat-page > section > aside > ul > li:not(:first-child) {
  margin-top: 2px;
}

.chat-page > section > aside > ul > li > i {
  margin: 0 8px 0 0;
  transform: scale(1.2);
}

.chat-page > section > main > .messages {
  flex: 1;
  padding: 8px;
  margin-left: 2px;
  margin-right: 2px;

  font-size: 12px;

  overflow-y: scroll;
}

.chat-page > section > main > .messages > ul {
  list-style: none;
  padding: 0;
}

.chat-page > section > main > .controls {
  display: flex;
  flex-direction: row;

  padding: 2px;
}

.chat-page > section > main > .controls > textarea {
  resize: none;
}

.chat-page > section > main > .controls > :not(:last-child) {
  margin-right: 8px;
}

.launcher-page {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.launcher > :not(:first-child) {
  margin-top: 18px;
}

.launcher > input[type="submit"] {
  float: right;
}
